<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        <div class="container mx-auto">
            <header class="bg-gray-800 text-white p-4">
                <h1 class="text-2xl">DCRM</h1>
            </header>
            <main class="p-4">
                {% block content %}
                {% endblock %}
            </main>
            <footer class="bg-gray-800 text-white p-4 text-center">
                <p>&copy; 2025 DCRM</p>
            </footer>
        </div>
    </body>
</html>
