{% extends 'admin_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% block page_title %}{% trans "Call Center" %}{% endblock %}{% endblock %}

{% block content %}
<div>
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-semibold text-gray-800">{% block page_title_content %}{% trans "Call Center" %}{% endblock %}</h1>
        
        <div>
            {% block page_actions %}{% endblock %}
        </div>
    </div>
    
    {% block callcenter_content %}{% endblock %}
</div>
{% endblock %}

{% block extra_js %}
{% block callcenter_js %}{% endblock %}
{% endblock %} 