<footer
  class="footer sm:footer-horizontal bg-amber-500 text-gray-900 p-10"
>
  <nav>
    <h6 class="footer-title text-gray-900 font-semibold">Services</h6>
    <a class="link link-hover text-gray-800 hover:text-amber-800">Affiliate Tracking</a>
    <a class="link link-hover text-gray-800 hover:text-amber-800">Campaign Management</a>
    <a class="link link-hover text-gray-800 hover:text-amber-800">Affiliate Marketing</a>
    <a class="link link-hover text-gray-800 hover:text-amber-800">Payouts</a>
  </nav>
  <nav>
    <h6 class="footer-title text-gray-900 font-semibold">Company</h6>
    <a class="link link-hover text-gray-800 hover:text-amber-800">About us</a>
    <a class="link link-hover text-gray-800 hover:text-amber-800">Contact</a>
    <a class="link link-hover text-gray-800 hover:text-amber-800">Careers</a>
    <a class="link link-hover text-gray-800 hover:text-amber-800">Press kit</a>
  </nav>
  <nav>
    <h6 class="footer-title text-gray-900 font-semibold">Legal</h6>
    <a class="link link-hover text-gray-800 hover:text-amber-800">Terms of use</a>
    <a class="link link-hover text-gray-800 hover:text-amber-800">Privacy policy</a>
    <a class="link link-hover text-gray-800 hover:text-amber-800">Cookie policy</a>
  </nav>
</footer>